body{
  background: url(./img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Card deck */
#cardBack{
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}
#currentCard{
  display: inline-block;
}
.playingCard{
  padding-top: 60%;
  padding-bottom: 50%;
  background-color: inherit;
  border: none;
}
/* Logo*/
.logo{
  text-align: center;
}
.logo img{
  width: 100%;
}

/* Sections */
.heightview{
  height: 100vh;
}
.section2{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
}

/* Buttons */
.myButton{
    cursor:pointer;
    width: 100%;
    height: 70px;
    border: none;
    background-size: 100% 100% !important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.myButton:hover{
  transform: scale(1.1);
}

#draw{
  background: url(./img/play-button.svg) no-repeat;
}

#stop{
  background: url(./img/stop-button.svg) no-repeat;
}

#restart{
  background: url(./img/replay-arrow.svg) no-repeat;
}

#startGame{
  background: url(./img/right-arrow.svg) no-repeat;
}

/* Tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Description and paddings */
input:focus{
  outline: none;
}

#description{
	margin-left: 30%;
	margin-right: 30%;
}
.centre-block{
	display: table;
	margin: 0 auto;
}

.score{
	font-size: 4em;
}

.top-buffer{
	margin-top: 50px;
}

.row-big{
	min-height: 200px;
}

/* VISUALISATION */
svg {
  font: 10px sans-serif;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.y.axis .zero line {
  stroke: #000;
  stroke-opacity: 1;
}

.title {
  font: 300 78px Helvetica Neue;
  fill: #666;
}

.birthyear,
.age {
  text-anchor: middle;
}

.birthyear {
  fill: #fff;
}

rect {
  fill-opacity: .6;
  fill: #e377c2;
}

rect:first-child {
  fill: #1f77b4;
}

.bar:hover {
  fill: red;
}

.bar {
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}
/* VISUALISATION END*/